* {margin: 0; padding: 0;}

:root {
    --blue: #00275a;
    --medium-blue: #001D43;
    --dark-blue: #001633;
    --white: #FFFFFF;
    --grey: #F1F1E6;
    --light-aqua: #5FECBE;
    --medium-aqua: #01B388;
    --dark-aqua: #007D57;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 25vw;
    height: 90vh;
}

input {
    grid-column: span 4;
    grid-row: span 2;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: right;
    font-size: 2em;
    padding: 0 0.5em;
}

button {
    grid-column: span 1;
    grid-row: span 1;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 3em;
    cursor: pointer;
    box-sizing: border-box;
    transition: 250ms ease;
    transition-property: background-color;
}

button:hover {
    background-color: var(--medium-blue);
}

button:active {
    background-color: var(--dark-blue);
}

button:nth-child(2) {
    grid-column: span 2;
    background-color: var(--light-aqua);
    font-weight: bold;
}

button:nth-child(12) {
    grid-row: span 2;
}

.exec {
    background: var(--light-aqua);
    font-weight: bold;
}

.exec:hover {
    background-color: var(--medium-aqua);
}

.exec:active {
    background-color: var(--dark-aqua);
}

@media (max-width: 1000px) {
    .calculator {
      width: 90vw;
    }
}